<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="studioraz" translate="label">
            <label>Studio Raz</label>
        </tab>
        <section id="sebwite_sidebar" showInDefault="1">
            <tab>studioraz</tab>
            <label>Sidebar Category Tree</label>
            <resource>Magento_Config::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Sidebar settings</label>
                <field id="visible_in_menu" translate="label" type="select" sortOrder="16" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Show only visible in menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>